<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/headmeta %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Create User</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/"><button>Back To Home</button></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Create Your Profile</h1>
            <section class="main-form">
                <%= message %>
                <div class="error-window"></div>
                <form action="/users" method="POST" id="regform">
                    Username: <input type="text" name="username" placeholder="Create username"><br/>
                    Password: <input type="password" name="password" placeholder="Create password"><br/>
                    Email: <input type="email" name="email" placeholder="Enter your email"><br>
                    Display Name: <input type="text" name="displayName" placeholder="Display Name"><br>
                    Age: <select name="age">
                        <% for(let i = 0; i < ageList.length; i++){ %>
                            <option value="<%= ageList[i] %>"><%= ageList[i] %></option>
                        <% } %>
                    </select> <br>
                    Gender: <select name="gender">
                        <% for(let i = 0; i < genderList.length; i++){ %>
                            <option value="<%= genderList[i] %>"><%= genderList[i] %></option>
                        <% } %>
                        </select><br>
                    About: <textarea name="about" placeholder="Describe yourself!"></textarea><br>
                    Photo: <input type="text" name="img" placeholder="Add an image URL"><br>
                    <button type="submit">Register</button>
                </form>
            </section>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>

        <script src="/js/regvalidators.js"></script>
    </body>
</html>
