<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/headmeta %>
    <title>Badge</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/users/<%= user._id %>"><button>Back to Profile</button></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1><%= user.displayName %>'s <%= badge.title %> Badge</h1>
        <ul>
            <% badge.events.forEach((event)=>{ %>
                <li><%= event.img %> <br>
                <%= event.description %></li>
            <% })%>
        </ul>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>