<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Edit user profil</title>
</head>
<body>
    <header>
        <h1>Edit User Profile</h1>
    </header>
    <main>
        <form action="/users/<%= user._id %>?_method=PUT" method="POST">
            <input type="text" name="username" value="<%= user.username %>"><br/>
            <input type="password" name="password" value="<%= user.password %>"><br/>
            <input type="email" name="email" value="<%= user.email %>"><br>
            <input type="text" name="displayName" value="<%= user.displayName %>"><br>
            <textarea name="about"><%= user.about %></textarea><br>
            <input type="text" name="img" value="<%= user.img %>">
            <button type="submit">Update Profile</button>
        </form>
    </main>
    
</body>
</html>
