<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Swipe City</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/users/<%= user._id %>"><button>My Profile</button></a></li>
                <li><a href="/users"><button>Start Swiping!</button></a></li>
                <li><a href="/auths/logout"><button>Logout</button></a></li>
            </ul>
        </nav>
    </header>
    <main>

        <form action="/users">
            <h2>Gender:</h2>
            <input type="checkbox" name="gender" value="Male"> Male<br>
            <input type="checkbox" name="gender" value="Female"> Female<br>
            <input type="checkbox" name="gender" value="Other"> Other<br>

            <h2>Age: </h2>
            <select name="minAge">
                <% for(let i = 18; i < 100; i++) { %>
                        <option value="<%=i%>"><%=i%></option>
                <% } %>
            </select>
            <small>-</small>
            <select name="maxAge">
                <% for(let i = 18; i < 100; i++) { %>
                    <option value="<%=i%>"><%= i %></option>
                <% } %>
            </select>

            <h2>Badges</h2>
            <% for(let i = 0; i < badges.length; i++) { %>
                    <input type="checkbox" name="badgesWanted" value="<%=badges[i]%>"><%=badges[i]%><br>
            <% } %>
            <input type="submit" value="Submit">
        </form>



        <ul>
            <% users.forEach((otherUser)=>{ %>
                <% if(otherUser !== user) %>
                <li><a href="/users/<%= otherUser._id %>"><%= otherUser.displayName %></a> <br>
                    <%= otherUser.gender %> <br>
                    Age: <%= otherUser.age %> <br>
                    Badges: <% otherUser.badgeList.forEach((badge)=>{ %>
                    <%= badge.title %>
                <% }) %><br>
                <img src="<%= otherUser.img %>">
                </li>

            <% }) %>
        </ul>
    </main>
    
</body>
</html>
