<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Profile Page</title>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <h1><%= user.displayName %></h1><br>
        <img src="<%= user.img %>"> <br>
        Username: <%= user.username %> <br>
        Age: <%= user.age %> <br>
        Gender: <%= user.gender %> <br>
        About: <%= user.about %> <br>


        <% if(user._id.toString() === sessionId.toString()){ %>
            <a href="/users/<%= user._id %>/edit"><button>Edit profile</button></a>
            <form action="/users/<%= user._id %>?_method=DELETE" method="POST"><button>Delete this account</button></form>
        <% } %>
        

        Badges:
        <ul>
            <% for(let i = 0; i < user.badgeList.length; i++) { %>
                <li><a href="/users/<%= user._id %>/badges/<%=user.badgeList[i]._id%>"><%=user.badgeList[i].title%></a></li>
                
            <% } %> <br>



        </ul>
        
        <% if(user._id.toString() === sessionId.toString()){ %>
        <a href="/users/<%= user._id %>/badges/new"><button>Add Badge</button></a>
        <% } %>

    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>            

    
</body>
</html>
